@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

}

:root {
	--vermelho: #AC3E3E;
	--branco-principal: #ECECEC;
	--branco-cards: #FFFFFF;
	--preto: #1A1A1A;
	--barrabotao: #FFA71E;
    --fonte-secundaria: "Cormorant Garamond", serif;
}

.dadosloja {
    display: none;
}

nav.navmenu{
    display: none;
}

nav.colunanavbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #522525;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
}
nav.colunanavbar > ul{
    opacity: 0.4;
    border: 2px dashed var(--branco-principal);
    height: 95%;
    width: 90%;
}

body, html {
    font: normal normal 16px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100dvh; /* ✔ Removido width e mantido apenas min-height */
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    min-height: 14dvh;
    width: 100%;
}

header > hr {
    width: 95vw;
    margin: 12px auto;
    opacity: 0.2;
}

nav.navredessociais > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 0rem 0.5rem;
    gap: 1.2rem;
    list-style: none;
}

nav.navredessociais i {
    font-size: 13px;
    color: rgb(214, 214, 214);
    transition: all 200ms ease-in-out;
}

nav.navredessociais i:hover {
    font-size: 14px;
    color: var(--branco-cards);
}

div.containernavegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo {
    margin-left: 1rem;
    width: 150px;
}

div.logo img {
    width: 100%;
    height: 60px;
    object-fit: contain;
    object-position: center;
    background: linear-gradient(to right, var(--branco-principal), transparent);
    border-radius: 5px;
}

div.botaomenu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    z-index: 1001;
}

div.botaomenu i{
    color: var(--branco-principal);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

div.botaomenu i:hover {
    color: var(--branco-cards);
}

main {
    background-color: green;
    width: 100%;          /* ✔ Corrigido */
    min-height: 100dvh;   /* ✔ Responsivo sem travar conteúdo */
}

section#introdutorio {
    display: grid;
    grid-template: 80dvh / 100vw;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 50vh;
    color: var(--branco-principal);
    background: yellow url(../midias/imagens/Imagem\ do\ WhatsApp\ de\ 2025-11-08\ à\(s\)\ 20.44.27_2884bbb0.jpg) center / cover no-repeat scroll;
}

h1 {
    font-family: var(--fonte-secundaria);
    font-size: 3em;
    text-transform: capitalize;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.486);
}

a.principalbotao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    text-decoration: none;
    color: var(--branco-principal);
    padding: 0.8rem 0;
    width: 180px;
    font-size: 1.1em;
    transition: all 0.5s ease;
    font-weight: 800;
}

a.principalbotao:hover, a.botao:hover {
    background-color: var(--barrabotao);
    color: var(--preto);
}

div.conteudocurto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.conteudocurto > p {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.9em;
}

div.conteudocurto > span{
    display: inline-block;
    content: '';
    width: 50px;
    height: 3px;
    background-color: var(--barrabotao);
    margin-right: 12px;
}

#imagembackground {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 478px;
}

#imagembackground > img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center;
    
}

/* Conteúdo acima do vídeo */
div.tituloprincipal {
    z-index: 1;           
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
    color: var(--branco-principal);
    background-color: #1a1a1a56;
}


section#sobrenos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    background-color: var(--branco-principal);
    height: 700px;
}

h2 {
    font-size: 2em;
    font-family: var(--fonte-secundaria);
}

a {
    font-family: var(--fonte-secundaria);
}


div.barralateral:nth-child(2){
    padding: 3rem 0;
}

div.cardsretangular {
    display: flex;
    flex-direction: row;
    
    
} 
div.barralateral {
    background-color: var(--vermelho);
    padding: 2.5rem 2px;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
}

div.content p:nth-child(1) {
    font: italic normal 1.2em arial;
}

div.content p:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.8em;
}

a.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
    text-decoration: none;
    color: var(--branco-principal);
    padding: 1rem;
    width: 150px;
    font-size: 1.1em;
    transition: all 0.5s ease;
    font-size: 1em;
}


div.containerimagens {
    display: flex;
    background-color: var(--branco-principal);
    min-height: 350px;
    border: 3px solid blue;
}

div.quadrado {
    border: 2px dashed var(--vermelho);
    height: 100%;
    width: 250px;
    background-color: var(--branco-principal);
}

.containerimagens > p {
    display: inline-block;
    position: absolute;
    bottom: -30%;
    left: -10%;
    transform: rotate(-90deg);
    color: black;
    background-color: var(--branco-principal);
    padding: 1rem;
    color: var(--vermelho);
    font-size: 1.1em;
    font-style: italic;
    
}

.containerimagens img:nth-child(1) {
    position: absolute;
    margin: 1rem;
    width: 220px;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}

.containerimagens img:nth-child(2) {
    position: absolute;
    bottom: -42%;
    left: 32%;
    margin: 1rem;
    width: 220px;
    height: 250px;
    object-fit: cover;
    z-index: 4;
}

.containerimagens img:nth-child(3) {
    position: absolute;
    margin: 1rem;
    width: 220px;
    height: 300px;
    object-fit: cover;
    z-index: 20;
}